<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/lagoma1/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>A brief bio or something witty.</p>
    <a href="/lagoma1/" class="btn">Home</a><br>
      <a href="/lagoma1/professional" class="btn">Professional Proficiency</a><br>
      <a href="/lagoma1/technical" class="btn">Technical Proficiency</a><br>
      <a href="/lagoma1/cv" class="btn">CV/Resume</a><br>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
